.DS_Store
.idea
.vscode
/.env
/var/*
!/var/labels
/vendor
/var
/public/*
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
/shared
*.gz
*.cache
db.sql
/packages/tnt_template_bs4/Resources/Public/Scss/Theme/.sass-cache/
/staging.txt

.ddev/
