/.env
/.idea/
.DS_Store
/vendor
/var
/public/fileadmin/
/public/uploads/
/public/typo3/
/public/typo3conf/ext/
/public/typo3conf/ENABLE_INSTALL_TOOL
/public/typo3conf/typo3conf/deprecation.log
/public/index.php
/public/typo3temp
/shared
public/fileadmin
public/uploads
/packages/tnt_template_bs4/Resources/Public/Scss/Theme/.sass-cache/