@mixin aspect-ratio($width, $height) {
	position: relative;
	overflow: hidden;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .aspect-ratio-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.twenty-ten {
	@include aspect-ratio(20, 10);
}

.sixteen-nine {
	@include aspect-ratio(16, 9);
}

.four-three {
	@include aspect-ratio(4, 3);
}

.three-two {
	@include aspect-ratio(3, 2);

	img {
		&.img-fluid {
			max-width: unset;
		}
		width: auto;
		height: 100%;
	}

	.aspect-ratio-wrapper {
		left: -9%;
	}
}

.one-one {
	@include aspect-ratio(1, 1);
}
