.body-bg-top {
	background: url("/typo3conf/ext/tnt_template_bs4/Resources/Public/Images/bg-image_1x-min.png") repeat-x;
}

.bg-white {
	background-color: $white;
}

.bg-white-transparent {
	background-color: opacify($white, 0.5) !important;
}
