//
// Footer Columns
//
.footer-section-content-column-left,
//.footer-section-content-column-middle,
.footer-section-content-column-right {
	width: 100%;
	@include media-breakpoint-up('sm') {
		width: calc(100% / 2);
	}
}

@each $name, $settings in $footer-sections {

	$footer-background: map-get($settings, 'background');
	$footer-color: map-get($settings, 'color');
	$footer-link-color: map-get($settings, 'link-color');
	$footer-link-color-hover: map-get($settings, 'link-hover-color');

	.footer-section-#{$name} {
		a:not(.btn) {
			&:hover,
			&:focus {
				color: $footer-link-color-hover;
			}
		}
	}
}

#page-footer {
	nav {
		li {
			a, a:visited {
				padding: 0 8px 4px 0;
			}
		}
	}
	.footer-section-content-column-right {
		.text-indent {

		}
	}

	.icon-links {
		color: $gray-550;
		font-size: 2.2rem;
		a, a:hover {
			color: $gray-550;
		}
	}
}
.footer-section {
//#page-footer {
	//background: url("/typo3conf/ext/tnt_template_bs4/Resources/Public/Images/bg-image_1x-min.png") repeat-x;
	position: relative;
	overflow: hidden;
	background-color: transparent;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 679px; // = bg-image heigh
		top: 0;
		z-index: -1;
		background: url("/typo3conf/ext/tnt_template_bs4/Resources/Public/Images/bg-image_1x-min.png") repeat-x $black;
		transform: rotate(180deg);
	}
}
