%nav-animation-settings {
	transition: all 0.55s cubic-bezier(.21, .01, .49, 1);
}
%transparentize-black {
	background-color: color.scale($black, $alpha: -11%) !important;
}

#page-header {
	@extend %nav-animation-settings;
	/*
	&:hover,
	&:hover .bg-black {
		//opcacity: 1;
		background-color: color.scale($black, $alpha: +11%) !important;
	}
	 */
	&.navbar-transition .bg-black {
		@extend %nav-animation-settings;
		@extend %transparentize-black;
		//opacity: 0.8;
	}
}

#top-bar {
	//font-size: 0.85rem;
	background-color: $black;
	color: $white;
	font-family: $font-family-sans-serif;
	height: $top-bar-height;
	line-height: $top-bar-height;

	a {
		color: $white;
		&:hover {
			color: $navbar-dark-active-color;
		}
	}
}

#mainnavigation {
	.nav-item {
		font-size: $font-size-mainnav;
	}
	.dropdown-menu {
		@include dark-drop-downs(dark);
	}

	#nav-left .dropdown-menu {
		left: -1rem;
	}
	#nav-right .dropdown-menu-right {
		right: -1.5rem;
	}
	#logo {
		img {
			max-height: 200px;
			width: 247px;
			height: auto;
			margin-top: -8px;
			@extend %nav-animation-settings;
			//transition: all 1.3s cubic-bezier(.21, .01, .56, .89) 0s;

		}
	}
}

#language_menu_wrapper {
	top: $navbar-height-default - 5;
	right: 0px;
}

#language_menu {
	.link-item {
		border: solid 1px color.scale($gold, $saturation: -50%, $lightness: -30%);
		border-top-width: 0;
		&:not(.active) img {
			filter: saturate(50%) brightness(50%);;
		}
		&:not(.active):hover {
			border-color: color.scale($gold, $saturation: -30%, $lightness: -18%);
			img {
				filter: saturate(70%) brightness(70%);;
			}
		}
		&.text-muted {
			display: none;
		}
	}
	.active {
		border-color: $gold;
	}
}


.body-bg-top {
	@each $breakpoint in map-keys($navbar-heights) {
		@include media-breakpoint-up($breakpoint) {
			padding-top: map-get($navbar-heights, $breakpoint) + $top-bar-height;
		}
	}
}



@include media-breakpoint-down(xs) {
	.body-bg-top {
		padding-top: map-get($navbar-heights, xs) + 6px;
	}
}

@media (min-width: $grid-float-breakpoint) {
	#page-header:not(.navbar-transition) #mainnavigation {
		//height: 74px;
	}

	#page-header.navbar-transition {
		#mainnavigation {
			#logo {
				img {
					//max-height: 200px;
					width: 207px;
					//height: auto;
				}
			}
		}
	}

	.navbar-mainnavigation {
		flex-flow: wrap;
		justify-content: flex-start;

		> .navbar-nav,
		> .container > .collapse > .navbar-nav,
		> .container-fluid > .collapse > .navbar-nav {
			&:last-child {
				margin-left: initial;
			}
		}
	}
}

.navbar-mainnavigation {
	box-shadow: none;

	.navbar-brand {
		margin-right: 0;
	}
	.navbar-brand-image {
		padding-top: 0;
		img {
			top: 0;
			transform: initial;
		}
	}

	.navbar-nav > li > .nav-link::before,
	.navbar-nav > li.show > .nav-link::before {
		left: 0;
		right: 0;
	}

	.navbar-nav > li > .nav-link:hover,
	.navbar-nav > li.show > .nav-link::before {
		&::before {
			opacity: 0.25;
		}
	}

	.navbar-nav > li > .nav-link::before {
		display: none;
	}

	.navbar-dark {
		.navbar-nav {
			.nav-link:hover {
				color: $link-hover-color;
			}
		}
	}
}

//
// Navigation Style
//

.navbar-default {
	//@extend .navbar-light;
	//@extend .bg-white;
	//background-color: transparent!important;
}

/*
.navbar-inverse {
	@extend .navbar-dark;
	@extend .bg-dark;
}
*/

@include media-breakpoint-down(sm) {
	.navbar-mainnavigation .navbar-brand-image img {
		max-height: 74px;
	}
}

@include media-breakpoint-down(xl) {
	#mainnavigation {
		.nav-item {
			font-size: 0.9rem;
			img {
				max-width: 8px;
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	#mainnavigation {
		#logo {
			max-width: 180px;
			img.navbar-brand-logo-normal {
				max-width: 178px;
			}
		}
	}
	#c17.frame-space-before-medium {
		margin-top: 0.75rem!important;
	}
}
