@use "sass:color";

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px,
        hd: 1900px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1540px,
        hd: 1840px
);

//
// TYPO3 DEGBUGGER SETTINGS
// Remove before Launch!
//
.extbase-debugger-floating {
  z-index: 9999;
}

//
// Variables
//
@import "variables";

//
// Fonts
//
@import "fonts";

//
// Mixins
//
@import "mixins";

//
// Import needed Bootstrap Package Files
//
@import "../../../../../../public/typo3conf/ext/bootstrap_package/Resources/Public/Scss/Theme/theme";

//
// TNT Cusomizations
//
@import "badge";
@import "background";
@import "section";
@import "position";
@import "footer";
@import "navbar";
@import "buttons";
@import "frame";
@import "type";
@import "container";
@import "card";
@import "carousel";
@import "misc";

//
// Extensions
//
@import "forms";
@import "news";

//
// external tools
//
@import "ext/slick-theme";
@import "ext/slick";
